.ipynb_checkpoints/
env/

# Exclude EspooRHDataAnalysisFromCSV private files and folders
Projects/EspooRHDataAnalysisFromCSV/exrc-02-answer.txt
Projects/EspooRHDataAnalysisFromCSV/exrc-02-handin.ipynb
Projects/EspooRHDataAnalysisFromCSV/README.md

#Exclude EspooGPGWeatherDataEncrypted private files and folders
Projects/EspooGPGWeatherDataEncrypted/exrc-04-answer.txt
Projects/EspooGPGWeatherDataEncrypted/exrc-04-handin.ipynb
Projects/EspooGPGWeatherDataEncrypted/README.md
Projects/EspooGPGWeatherDataEncrypted/EspooGPGWeatherDataEncrypted_origin.ipynb
Projects/EspooGPGWeatherDataEncrypted/exrc-04-report.ipynb

#Due to large data files exclude data folder which containg all large data files
Projects/BulldozerPricePrediction_ML/data/

#Do not include this zip file which is going to be uploaded in through GitHub
Projects/BulldozerPricePrediction_ML/data/bluebook-for-bulldozers.zip





